<!DOCTYPE html>
<html lang="zh-Hant-TW">

<head>
  <meta charset="UTF-8" />
  <link rel="icon" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>webstart template (vite5 + tailwind3 + scss + ejs)</title>
  <link rel="stylesheet" href="scss/demo.scss">
</head>

<body>
  <!-- include ejs file -->
  <%- include("include/partial")%>
    <h1 class="text-3xl font-bold underline text">
      Hello world ejs!
    </h1>

    <%for(var i=0;i<3;i++){%>
      <%- include("include/partial")%>
    <%}%>
    <img src="img/demo.png" alt="">
</body>

</html>