<header class="fixed w-full z-30 flex items-center bg-[#f6f8fd] h-[70px] px-[20px]">
    <a class="flex items-center mr-[110px] gap-2" href="#">
      <img class="h-[32px]" src="img/logo-teaching.png" alt="">
      <span class="txtJL _animate-hover-shine">Online course starting tool!</span>
    </a>
    <input id="menu" type="checkbox" class="hidden">
    <nav id="navbar-example2" class="hidden absolute lg:block lg:static top-[70px] left-0 w-full lg:w-auto bg-[#f6f8fd] z-10">
      <ul class="flex flex-col lg:flex-row gap-[20px] text-center">
        <li><a class="block py-[10px]" href="#section1">線上開課工具</a></li>
        <li><a class="block py-[10px]" href="#section2">功能特色</a></li>
        <li><a class="block py-[10px]" href="#section3">方案費用</a></li>
        <li><a class="block py-[10px]" href="#">客戶案例</a></li>
        <li><a class="block py-[10px]" href="#">關於我們</a></li>
        <li><a class="block py-[10px]" href="#">藍猴首頁</a></li>
      </ul>
    </nav>
    <label for="menu" class="absolute right-[22px] lg:hidden cursor-pointer">
      <img src="img/icon_bars.svg" alt="">
    </label>
    <a class="hidden lg:block ml-auto border-[2px] border-[#f7b157] py-2 px-5 rounded-full font-bold tracking-[3px] hover:bg-[linear-gradient(135deg,#f6d365,#fda085)]" href="#">FREE! 開通試用</a>
  </header>